nav{
    align-content: flex-end;
    backdrop-filter: blur(2px) !important;
    background-color: none;
    text-align: center;
    
}
header {
    width: 100%;
    height: 500px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(39, 100%, 17%, 0.87), hsla(39, 100%, 19%, 0.664)), url(img/1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(32, 100%, 31%, 0.87), hsla(39, 100%, 50%, 0.767)), url(img/1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header a{
    color: white !important;
}
li a:hover{
    color: hsla(0, 0%, 80%, 0.87) !important;
    transition: 500ms;
}
header .news{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.news h1{
    font-size: 50px;
    color:#fff;
}

.news h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

nav{
    
    padding: 30px 50px 50px 30px;
}
 .wave{
    position: absolute;
    bottom: -20px;
    bottom: 0;
    width: 100%;
}

.navbar-brand{
    size: 50%;
     font-size: 150%;
    font-family: 'Cinzel', serif;
}

.titulo{
    color: hsla(32, 100%, 31%, 0.87);
    text-align: center;
    margin-top: 50px;
}

.btn{
    background-color: hsla(32, 100%, 31%, 0.582) !important;
    border: none;
    margin-top: 15px;
}

.btn:hover{
    background-color: hsl(32, 100%, 31%) !important;
    color: white !important;
}
.cards{
    margin: 0 auto;
}
.tarjetas{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*  Estos 2 en el index css  */
.navbar-toggler{
    border: none;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
}